<h1>Historia</h1>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
        <mat-card class="example-card" >
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Un pequeño paso </mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="../../assets/{{product.photo}}" alt= "{{product.name}}"> -->
        <mat-card-content>
            <p>
                    Esta página fue creada con la intención de servir como base a la tienda en linea Magenta.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>SHARE</button>
        </mat-card-actions>
        </mat-card>
    </div>
    